:root {
	--color-brand: #1B72E8;
}

/* RESET */

img {
	max-width: 100%;
}

ul {
    list-style: none;
}

/* HEADER */

header {
    height: 70px;
}

.ms_mobile_logo {
    height: 50px
}

header li:not(:last-child) {
    display: none;
}

.searchbar {
    position: relative;
}

.searchbar input {
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: lightgray;
}

.searchbar input:focus-visible{
    outline: 1px solid var(--color-brand)
}

.searchbar i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (min-width:992px) {
    header li:not(:last-child) {
        display: block;
    }
}

/* MAIN */

.hero {
    height: 100vh;
}

.content_window {
    height: 100%;
}

/* SIDEBAR */

.sidebar {
    width: 70px;
    height: 100%;
    background-image: url(./img/sidebar-bg.png);
}

.sidebar > * {
    height: 100%;
}

.sidebar span {
    display: none;
}

@media (min-width:992px) {
    .sidebar{
        width: 150px;
    }

    .sidebar span {
        display: inline-block;
    }
}


/* DASHBOARD */


/* BENNER */
.banner {
    background-color: var(--color-brand);
    color: white;
    display: flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .banner {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* STATISTICS */

 