:root {
	--color-brand: #1B72E8;
}

body {
	font-family: 'Open Sans';
}

/* RESET */

img {
	max-width: 100%;
}

ul {
    list-style: none;
}

/* HEADER */

header {
    height: 70px;
}

.ms_mobile_logo {
    height: 50px
}

header .nav_list > li:not(:last-child) {
    display: none;
}

.searchbar {
    position: relative;
}

.searchbar input {
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: lightgray;
}

.searchbar input:focus-visible{
    outline: 1px solid var(--color-brand)
}

.searchbar i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


@media (min-width:992px) {
    header .nav_list > li:not(:last-child) {
        display: block;
    }
}

/* MAIN */

.content_window {
    height: 100%;
}

/* SIDEBAR */

.sidebar {
    width: 70px;
    height: 100%;
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
    color: white;
}


.sidebar > * {
    height: 100%;
}

.sidebar span {
    display: none;
}

.sidebar i {
    width: 20px;
    aspect-ratio: 1/1;
    text-align: center;
}

.sidebar_list li:hover {
    background-color: grey;
    cursor: pointer;
}

@media (min-width:992px) {
    .sidebar{
        width: 150px;
    }

    .sidebar span {
        display: inline-block;
    }
}


/* DASHBOARD */
.dashboard {
    height: calc( 100vh - 70px );
    overflow: auto;
}

/* BANNER */
.banner {
    background-color: var(--color-brand);
    color: white;
    display: flex;
    flex-direction: column;
}

.plan_title{
    display: inline-block;
}
.ms_badge {
    padding: 4px 10px;
    border-radius: 999px;
    color: white;
    background-color: #165BBA;
}

.banner_items {
    margin-top: 20px;
}

.ms_plus_btn {
    align-self: start;
}

.banner_boolean {
    order: 1;
}

.banner_students {
    order: 2;
}

#offcanvasRight {
    width: 100%;
}

@media (min-width:768px) {
    .banner {
        flex-direction: row;
        justify-content: space-between;
    }

    .banner_boolean,
    .banner_students {
        order: 0;
    }
}

@media (min-width: 992px) {
    .banner_items {
        margin-top: 0px;
    }

    #offcanvasRight {
        width: 800px;
    }
}

/* STATISTICS */

/* TABLE */

.table_classes {
    width: 70%;
}

tr > *:not(:first-child) {
    text-align: center;
}

tr > * {
    width: 100%;
}

.ms_code {
    background-color: #F26551;
    padding: 7px 5px 5px 5px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: white;
}

.statistics .bin_btn {
    margin-left: 5px;
}


